[submodule "edge/core/gfx/vulkan/external/vulkan"]
	path = external/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = vulkan-sdk-1.4.309
[submodule "edge/core/gfx/vulkan/external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
	branch = vulkan-sdk-1.4.309
[submodule "edge/core/gfx/vulkan/external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/tiny_imageformat"]
	path = external/tiny_imageformat
	url = https://github.com/DeanoC/tiny_imageformat.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/KTX-Software"]
	path = external/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
